<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Evince_Faques::faq" title="Evince's Faques" module="Evince_Faques" sortOrder="50" resource="Evince_Faques::faq"/>
        <add id="Evince_Faques::manage_items" title="All Questions" module="Evince_Faques" sortOrder="10" parent="Evince_Faques::faq" action="faques/faq/" resource="Evince_Faques::faq"/>
    </menu>
</config>